img{vertical-align:top;}
h2{ text-align:left;font-weight:normal; padding:20px;}
#teamList{ margin: 30px auto;text-align:center; line-height:30px; margin-bottom:-2px;}
#teamList li{ display:inline-block;  width:120px; padding-bottom:35px; margin-right:10px; font-size:16px; font-weight:bold; text-align:center; list-style:none;}
#teamList li.default{ color:#c00; font-weight:bold; font-size:22px;background:url(../images/arr.jpg) no-repeat center bottom;}
#teamList li.done{ color:#069;}
#teamMemberList a.disable{ cursor:default;}
#teamMemberArea{ text-align:left; background:#eee; position:relative; min-height:70px; margin-top:-3px;}
#teamMemberList a{ padding:10px 20px; border:1px solid #ddd; display:inline-block; margin-left:20px; margin-right:10px; margin-bottom:20px; cursor:pointer; background-color:#fff; font-size:40px;}
#teamMemberList a.selected{ background-color:#069; color:#fff;}
#teamMemberList a.draw_select{ background-color:#9C0; color:#fff;}
button{ width:110px; background:#ddd; border:1px solid #ccc; padding:5px; margin:0 auto; font-size:20px; cursor:pointer; font-family:"微软雅黑", "黑体"; float:right; margin-top:15px; margin-right:20px;}
#draw,#submit{ color:#C00; font-weight:bold;}
#selectedList{ display:none;}
#selectedList p{ text-align:left; font-size:24px; line-height:40px;width:470px; float:left; padding-left:20px;}
