/*----样式初始化----------------------*/
html { height: 100%; }
body { font-family:"微软雅黑"; background: #fff ; -webkit-text-size-adjust: 100%;/*解决Iphone下橱窗字体变大问题*/}
* { padding: 0; margin: 0; border: 0; font-style: normal; font-weight: normal; -webkit-tap-highlight-color: rgba(0,0,0,0);	/*禁止链接高亮*/ -webkit-touch-callout: none;/*禁止链接长按弹出选项菜单*/ }
nav, footer, section, header, article { display: block; }
ul { list-style: none; }
a:link { -webkit-tap-highlight-color: rgba(0,0,0,0);/*禁止链接高亮*/ -webkit-touch-callout: none;	/*禁止链接长按弹出选项菜单*/ }
a:link, a:visited, a:hover, a:active { color: #000; text-decoration:none; }
input, textarea { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; box-shadow: none;}

img { display: block;border:none; }

textarea {-webkit-appearance:none; /*去除input默认样式*/}
/*input {-webkit-appearance:none; /*去除input默认样式*/}
input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none;}

input[type="date"]:before {
	content: attr(placeholder);
	color:#666;
}
::-webkit-input-placeholder {
	color:#666;
}

.btn1{ margin:4% 0; clear:both; text-align:center; }
.btn2{ background:#c4c4c2; width:50%; height:2em; display:block; margin:0 auto; text-align:center; line-height:2em;  color:#5c636d; box-shadow:1px 1px #bfbfbf; font-size:1.2em; 
       margin: 2% 0 1% 0;
               -moz-border-radius       : 0.2em;
               -webkit-border-radius    : 0.2em;
               border-radius            : 0.2em;}


/*首页*/
.bgg{ background:url(../img/bg.png) no-repeat center center; position:fixed; z-index:-1; bottom:0; right:0; background-size:cover; width:100%; height:100%;}
.lauguage{ color:#8b5c2b; font-size:14px; float:right; margin-top:-2%; margin-right:2%; margin-bottom:10%; text-decoration:underline; height:25px;}
.lauguage1{ color:#8b5c2b; font-size:14px; float:right; margin-top:-4%; margin-right:2%; margin-bottom:1%; text-decoration:underline; height:25px;}

.slogan1{ width:100%;}
.slogan1 img{ width:100%;}
.logo{ width:85%; margin:5% auto;}
.logo img{ width:100%;}
.text{ width:85%; margin:0.5em  auto;color:#5c636d; line-height:1em; font-size:1.5em; font-family:"微软雅黑"; margin-top:-5%;} 
.text1{width:85%; margin:0.3em auto; color:#5c636d; line-height:1em; font-size:1.2em; font-family:"微软雅黑"; }
.text1 span{ font-weight:bold;}
.btn{ margin-top:15%;margin-bottom:15%;}
.btn a{ background:#e2cb9f; width:130px; height:39px; display:block; margin:0 auto; text-align:center; line-height:39px; letter-spacing:3px; color:#8b5c2b; box-shadow:1px 1px #bfbfbf}
.slogan2{ width:100%; margin-top:23%;}
.slogan2 img{ width:100%;}

@media screen and (max-width: 320px) and (max-height: 480px){/*iphone4s */
.a{ margin-left:1.9%}
}


/*调查页*/
.bb{ display:block; margin-left:1.5%;}
.b{ margin-right:2.5%}
.a{}


.slogan2_{ width:100%; }
.slogan2_ img{ width:100%;}

@media screen and (max-width: 320px) {/*iphone5s */
.a{ margin-left:1.9%}

}
@media screen and (max-width: 320px) and (max-height: 480px){/*iphone4s */
.a{ margin-left:1.9%}

}



/*建议页面*/
.bgg1{ background:url(../img/bgg.png) no-repeat; position:fixed; z-index:-1; bottom:0; right:0; background-size:cover; width:100%; height:100%;}

.suggest_nr{ width:80%; margin:4% auto;}
.suggest_nr textarea{ width:100%; margin:0 auto;height:150px; border:#dbcdbf 1px solid; color:#7f3000; font-size:14px;}
.please{ width:80%; margin:0 auto; font-size:14px; color:#8b5c2b; margin-top:3%; line-height:30px}

/*成功*/
.suc{ width:100%; margin-top:20%;}
.suc img{ width:85%; margin:0 auto;}

.w2{ width:100%; margin-top:4%;}
.w2 img{ width:85%; margin:0 auto;}

.thank{ width:85%; margin:5% auto 0; line-height:35px;color:#8b5c2b; font-size:14px; }

 .styled-select
 {
     text-align:center;}
            /* SELECT W/IMAGE */
            .ui-select
            {
               width                    : 85%;
               height                   : 3.2em;
               padding                  : 0.2em 0.4em 0.2em 0.4em;
               vertical-align           : middle;
               border                   : 1px solid #c4c4c2;
               -moz-border-radius       : 0.2em;
               -webkit-border-radius    : 0.2em;
               border-radius            : 0.2em;
               box-shadow               : inset 0 0 3px #c4c4c2;
               -webkit-appearance       : none;
               -moz-appearance          : none;
               appearance               : none;
               /* sample image from the webinfocentral.com */
          
               font-family              :"微软雅黑";
               font-size                : 1.1em;
               color                    : #5e626b;
               cursor                   : pointer;
               text-align:center;
            }
            .ui-select  option
            {
                font-size               : 1.3em;
                padding                 : 0.2em 0.4em 0.2em 0.4em;
            }
            .ui-select option[selected]{ font-weight:bold}
            .ui-select option:nth-child(even) { background-color:#fef1d7; }
            .ui-select:hover
            {
                color                   : #5e626b;
                border                  : 1px solid #5e626b;
            }    
            .ui-select:focus {box-shadow: 0 0 2px 1px #5e626b;}
 
            /*SELECT W/DOWN-ARROW*/
            select#selectPointOfInterest
            {
               width                    : 185pt;
               height                   : 40pt;
               line-height              : 40pt;
               padding-right            : 20pt;
               text-indent              : 4pt;
               text-align               : left;
               vertical-align           : middle;
               box-shadow               : inset 0 0 3px #606060;
               border                   : 1px solid #acacac;
               -moz-border-radius       : 6px;
               -webkit-border-radius    : 6px;
               border-radius            : 6px;
               -webkit-appearance       : none;
               -moz-appearance          : none;
               appearance               : none;
               font-family              : "微软雅黑";
               font-size                : 18pt;
               font-weight              : 500;
               color                    : #000099;
               cursor                   : pointer;
               outline                  : none;
            }
            select#selectPointOfInterest option
            {
                padding             : 4px 10px 4px 10px;
                font-size           : 11pt;
                font-weight         : normal;
            }
            select#selectPointOfInterest option[selected]{ font-weight:bold}
            select#selectPointOfInterest option:nth-child(even) { background-color:#f5f5f5; }
            select#selectPointOfInterest:hover {font-weight: 700;}
            select#selectPointOfInterest:focus {box-shadow: inset 0 0 5px #000099; font-weight: 600;}
 
            /*LABEL FOR SELECT*/
            label#lblSelect{ position: relative; display: inline-block;}
            /*DOWNWARD ARROW (25bc)*/
            label#lblSelect::after
            {
                content                 : "\25bc";
                position                : absolute;
                top                     : 0;
                right                   : 0;
                bottom                  : 0;
                width                   : 20pt;
                line-height             : 40pt;
                vertical-align          : middle;
                text-align              : center;
                background              : #000099;
                color                   : #fefefe;
               -moz-border-radius       : 0 6px 6px 0;
               -webkit-border-radius    : 0 6px 6px 0;
                border-radius           : 0 6px 6px 0;
                pointer-events          : none;
            }