a:link
{
	color: #223399;
	text-decoration: none;
}
a:visited
{
	color: #223399;
	text-decoration: none;
}
a:active
{
	color: red;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
	color: #f00;
}

body
{
	margin: 0px;
	border: solid 0px;
	margin-left: 0px;
	border-color: #999999;
	background-color: #636D73;
	font-size: 12px;
	font-family: Arial,ו,Arial,Sans-serif;
	line-height: 18px;
}
.box
{
	background-color: #D6D3CE;
}
.box1
{
	border-right: #424142 1px solid;
	border-top: #D6D3CE 1px solid;
	border-left: #D6D3CE 1px solid;
	border-bottom: #424142 1px solid;
	background-color: #D6D3CE;
}
.box2
{
	border-right: #848284 1px solid;
	border-top: #FFFFFF 2px solid;
	border-left: #FFFFFF 2px solid;
	border-bottom: #848284 1px solid;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 10px;
	padding-top: 1px;
	background-color: #D6D3CE;
}
.td
{
	font-size: 12px;
	line-height: 20px;
	font-family: ו,Arial,Sans-serif;
}

.ttTable
{
	vertical-align: bottom;
	color: #403020;
	font-weight: bolder;
	font-size: 12px;
	line-height: 130%;
	background: transparent;
}

.ttTable0
{
	color: white;
	font-weight: bolder;
	font-size: 12px;
}

.line
{
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=   '#6B8EE7' ,endColorStr= '#FFFFFF' ,gradientType= '1' );
}

.logintitle
{
	height: 18px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	background-color: activecaption;
	color: white;
	font-weight: bolder;
	font-size: 12px;
}
